<style>
svg {
  border: 3px solid #eee;
  display: block;
  margin: 1em auto;
}
</style>

<h1> TEST {{id}}</h1>
<div id="emb_svg">
  {{{svg}}}
</div>

<script type="text/javascript">
  var s = Snap("svg");
  var g = s.select("#leave");
  g.animate({ transform: 's0.5r360,300,300' }, 1000, mina.bounce );
</script>
