  <style>
  /*
svg {
  border: 3px solid #eee;
  display: block;
  margin: 1em auto;
}
*/
</style>

<h1> TEST 11 {{id}}</h1>
<div id="emb_svg">
  {{{svg}}}
</div>

<script type="text/javascript">
 var s = Snap("svg");

 function show_g(gr, time, callback) {
   var g = gr.g
   g.animate({ transform: gr.t }, time, gr.e, function () {
     g.v=true;
     callback();
   });
 }

 function show_l(objs, scale, i) {
   if (i==undefined) {i=0;};
   if (i>=objs.length) {
     return;
   };
   var o = objs[i];

   if (true) {
     show_g(o,scale*o.time, function(){
       show_l(objs, scale, i+1);
     });
   } else {
     show_l(objs, scale, i+1);
   }
 }

 function hide_g(id, time) {
   var g = s.select(id);
   var old=g.attr("transform");
   var al=time==undefined;
   if (al) {
     g.attr({transform:"s0"});
   } else {
     g.animate({transform:"s0"}, time, mina.easein);
   }
   return {g:g, t:old, v:false, id:id};
 };

 var tree=hide_g("#tree");
 tree.e=mina.easein;
 tree.time=1000;
 var leave=hide_g("#leave");
 leave.e=mina.bounce
 leave.time=1000;
 var seed=hide_g("#seed");
 seed.r=mina.bounce
 seed.time=1000;
 var cap=hide_g("#caption");
 cap.r=mina.bounce
 cap.time=1500;

 var objs=[tree,leave,seed,cap];
 var only=[tree, cap];
 var parts=[leave,seed,cap];
 tree.g.mouseup(function(){
   show_l(parts, 1);
 })

 parts.forEach(function (part) {
   part.g.mouseup(function () {
     hide_g(part.id, 1000);
   });
 });

 // show_l(objs, 1);
 show_l(only, 1);
</script>
